@page "/c_inventario"

<PageTitle>Consulta inventario</PageTitle>


<h1 class="text-center">Consulta inventario</h1>

<button type="submit" class="btn btn-outline-success"><span class="oi oi-document"></span>
Generar reporte</button>

@* <div class="card col-lg-8 mx-auto"> *@
        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
            FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="4" PagerHorizontalAlign="HorizontalAlign.Left" AllowSorting="true" Data="@listaClientes"
            ColumnWidth="200px">

            <Columns>
                <RadzenGridColumn TItem="string" Title="ID" />
                <RadzenGridColumn TItem="string" Title="Producto" />
                <RadzenGridColumn TItem="string" Title="Cantidad" >
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
@* </div> *@

@code {
    List<string> listaClientes = new List<string>();
}