@page "/c_inventario"
@inject ProductoBLL ProductoBLL
@inject InventarioBLL InventarioBLL
@* @attribute [Authorize] *@

<PageTitle>Consulta inventario</PageTitle>


<h1 class="text-center">Consulta inventario</h1>

<button type="submit" class="btn btn-outline-success"><span class="oi oi-document"></span>
    Generar reporte</button>

<div>
    @if (lista == null)
    {
        <p><em>Sin datos para mostrar...</em></p>
    }
    else
    {
        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
            FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="4" AllowSorting="true" Data="@lista"
            TItem="Inventarios" ColumnWidth="150px">

            <Columns>
                <RadzenGridColumn TItem="Inventarios" Property="InventarioId" Title="ID" />
                <RadzenGridColumn TItem="Inventarios" Property="ProductoId" Title="ProductoId" />
                <RadzenGridColumn TItem="Inventarios" Property="CantidadAumentada" Title="Cantidad" />
                <RadzenGridColumn TItem="Inventarios" Property="Existencia" Title="Existencia" />
                <RadzenGridColumn TItem="Inventarios" Property="CodigoBarra" Title="Codigo de barra" />
                <RadzenGridColumn TItem="Inventarios" Property="Fecha" Title="Fecha">
                </RadzenGridColumn>

                <RadzenGridColumn TItem="Inventarios" Title="Editar">
                    <Template Context="Inventario">
                        <RadzenLink Path=@($"/r_inventario/{Inventario.InventarioId}") Text="Ver">
                            <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="Ver" />
                        </RadzenLink>
                    </Template>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    }
</div>
@code {
    List<Inventarios> lista = new List<Inventarios>();

    protected override void OnInitialized()
    {
        lista = InventarioBLL.GetList(o => true && o.Status == true);

    }
}