@page "/r_inventario"
@page "/inventario/{inventarioId:int}"
@attribute [Authorize]


<EditForm Model="inventario" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card col-lg-7 mx-auto">
        <div class="shadow">
            <div class="card-header">
                <h1 class="text-center"><strong>Registro de Inventario</strong></h1>
            </div>
            <br>
            <br>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <InputNumber required="" @bind-Value="inventario.InventarioId" class="input" id="id" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>No. ID</label>
                        </div>
                        <button type="button" class="btn" @onclick="Buscar" id="boton">
                            <span class="btn-text-one" style="color: white;" title='Buscar inventario'>Buscar</span>
                        </button>
                    </div>
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto"> </div>

                </div>
                <div class="row">
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <InputDate required="" @bind-Value="inventario.Fecha" class="input" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Fecha</label>
                        </div>
                    </div>

                    <div class="col-sm-2 col-md-4 mb-2 mx-auto"> </div>

                </div>
                <br>
                <div class="row">
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <InputSelect required="" @bind-Value="inventario.ProveedorId" class="input" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Proveedor</label>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <InputSelect required="" @bind-Value="inventario.ProductoId" class="input" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Producto</label>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <InputNumber required="" @bind-Value="inventario.Cantidad" class="input" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Cantidad actual</label>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <InputNumber required="" @bind-Value="inventario.Cantidad" class="input" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Codigo de barra</label>
                        </div>
                    </div>

                </div>
                <br>
                <br>

                <div class="input-group">
                    <div class="col-sm-2 col-md-4 mb-2 mx-auto">
                        <div class="group">
                            <InputNumber required="" @bind-Value="inventario.Cantidad" class="input" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Cantidad actual</label>
                        </div>
                    </div>
                    <button class="btn btn-outline-secondary" type="button" style="background: green;"><ion-icon
                            name="add-outline"></ion-icon></button>
                    <button class="btn btn-outline-secondary" type="button" style="background: red;"><ion-icon
                            name="remove-outline"></ion-icon></button>
                </div>

            </div>

            @*Botones*@
            <div class="card-footer">
                <div class="form-group text-center" display: inline-block>
                    <button type="button" class="btn btn-outline-primary" @onclick="Nuevo"><span
                            class="oi oi-file"></span>
                        Nuevo</button>
                    <button type="submit" class="btn btn-outline-success"><span class="oi oi-document"></span>
                        Guardar</button>
                    <button type="button" class="btn btn-outline-danger" @onclick="Eliminar"><span
                            class="oi oi-delete"></span>
                        Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code
{
    [Parameter]
    public int InventarioId { get; set; }
    public Inventarios inventario { get; set; } = new Inventarios();

    public void Guardar()
    {

    }
    public void Eliminar()
    {

    }
    public void Nuevo()
    {

    }

    public void Buscar()
    {

    }
}