@page
@model LoginModel
<style>
    #login {
        align-items: center;
        justify-content: center;
        height: 350px;
        border-radius: 30px;
    }
    .img{
       background-image: url("../Images/5026563.jpg");
       background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>

<h1>@ViewData["Title"]</h1>
<div class="img">
    <div id="login" class="card">
        <div class="col-md-4 mt-4 ms-4">
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="col-12 row">
                    <label asp-for="Input.Email" class="form-label">Correo</label>
                    <input asp-for="Input.Email" class="form-control col-12" autocomplete="username"
                        aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <br />
                <div class="col-12 row">
                    <label asp-for="Input.Password" class="form-label">Contraseña</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password"
                        aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <br />
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <br />
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>

            </form>
        </div>

    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
