@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
    position: relative;
    top: 150px;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
.custom-group {
    position: relative;
    width: 100%;
  }
  
  .custom-dropdown {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #5264AE;
    background-color: #f2f2f2;
    color: #000;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .custom-dropdown:focus {
    outline: none;
    border-color: #5264AE;
  }
  
  .custom-bar {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #5264AE;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .custom-dropdown:focus + .custom-bar {
    transform: scaleX(1);
  }
  
  .custom-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #000;
    pointer-events: none;
    transition: 0.2s ease all;
  }
  
  .custom-dropdown:not(:placeholder-shown) + .custom-label,
  .custom-dropdown:focus + .custom-label {
    font-size: 12px;
    top: -16px;
    color: #5264AE;
  }
  
  
  