.group {
  position: relative;
}

.apartado-producto {
  text-align: right;
}

.input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;
  background: transparent;
}

#fecha {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 150px;
  border: none;
  border-bottom: 2px solid #000000;
  background: transparent;

}

#id {
  font-size: 16px;
  padding: 5px 5px 5px 5px;
  display: block;
  width: 27%;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  background: transparent;
}

.input:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input:focus~label,
.input:valid~label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}

.bar {
  position: relative;
  display: flex;
  width: 100%;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.input:focus~.highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }

  to {
    width: 0;
    background: transparent;
  }
}


.shadow {
  width: 100%;
  border-radius: 0px;
  height: 10%;

}

/*Botones*/
#boton {
  display: flex;
  margin-left: 110px;
  position: relative;
  top: -30px;
  width: 90px;
  border-radius: 10px;
}

.btn {
  width: 169px;
  height: 50px;
  background: linear-gradient(to top, #071820, #071820, #071820);
  color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.btn span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: top 0.5s;
}

.btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}

button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px #053F5C;
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

#titulo {
  margin-right: 10px;
}

.tamano {
  width: 800px;
  height: 800px;
  margin-left: 3%;
}


.cover {
  height: 550px;
  box-shadow: 5px 5px 5px #888888;
  background-image: url("../Images/GeekEngineer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  top: -24px;
}

.text-index_ {
  color: white;
  padding-left: 60%;
  position: relative;
  top: -140px;
  font-family: 'Courier New', monospace;
}