@page "/f_FacturaVenta"
@page "/f_Factura/{ventaId:int}"
@inject VentasBLL VentasBLL
@inject ClienteBLL ClienteBLL
@inject ProductoBLL ProductoBLL

<div id="app" class="col-11" onload="window.print()">

    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <i class="fa fa-desktop"></i>
                            </td>
                            <td>
                                Invoice #: 123<br>
                                Created: January 1, 2015<br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr class="">
                            <td>
                                Nombre de la empresa:<br>
                                Dirección:<br>
                                Correo electrónico: <br>
                                Nombre del cliente: <br>

                            </td>

                            <td>
                                GeekEngineer<br>
                                ****************<br>
                                GeekEngineer@gmail.com <br>
                                ****************<br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="heading">
                <td>Qtd</td>
                <td>Item </td>
                <td>Price </td>
            </tr>
            <tr class="item">
                <td>3 </td>
                <td>Website design </td>
                <td>$300.00 </td>
            </tr>
            <tr class="item">
                <td>3 </td>
                <td> Hosting (3 months) </td>
                <td>$75.00 </td>
            </tr>
            <tr class="item last">
                <td>3 </td>
                <td> Domain name (1 year) </td>
                <td>$10.00 </td>
            </tr>

            <tr class="heading">
                <td>SubTotal</td>
                <td>Total </td>
            </tr>
            <tr class="item">
                <td>1000 </td>
                <td>$300.00 </td>
            </tr>
        </table>
    <button class="btn btn-danger mr-2" id="botton-tamanio"><i class="fa fa-print"></i></button>


    </div>


</div>


@code {
    [Parameter]
    public int VentaId { get; set; }
    public Ventas venta { get; set; } = new Ventas();

    protected override void OnInitialized()
    {
        if (VentaId > 0)
        {
            this.Buscar();
        }
    }

    private void Buscar()
    {
        Ventas? ventaEncontrada = VentasBLL.Buscar(this.VentaId);
        if (ventaEncontrada != null)
        {
            this.venta = ventaEncontrada;
        }
    }
}
