@page "/"
@using ChartJs.Blazor.PieChart
<div class="cover d-flex justify-content-center align-items-center flex-column">
    <div class="text-index_">

    </div>
</div>

<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="images/Jorge.jpg" alt="">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Correo: geekengineer@gmail.com</p>
            <p>Teléfono: 1 (829)-234-1234</p>
            <p>Teléfono: 1 (829)-234-1234</p>

        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>GeekEngineer</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>

@code {
    private PieConfig? _configuracionPastel;

    protected override void OnInitialized()
    {
        RealizarConfiguracionPastel();
    }

    private void RealizarConfiguracionPastel()
    {
        _configuracionPastel = new PieConfig();

        _configuracionPastel.Options = new PieOptions
            {
                Responsive = true,
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Mas vendidos"
                }
            };

        foreach (var item in new[] { "Opcion 1", "Opcion 2", "Opcion 3" })
        {
            _configuracionPastel.Data.Labels.Add(item);
        }

        PieDataset<int> dataset = new PieDataset<int>(new[] { 35, 50, 15 })
            {
                BackgroundColor = new[]
            {
ColorUtil.ColorHexString(255,0,0), //Rojo
ColorUtil.ColorHexString(0,0,255), //Azul
ColorUtil.ColorHexString(255,255,0) //Amarillo
}
            };

        _configuracionPastel.Data.Datasets.Add(dataset);
    }
}
