@page "/reportes"
<div class="container">
  <button type="submit" class="btn btn-outline-success" style="height: 100px; margin: 30px;"><span class="oi oi-document"></span>
Productos más vendidos en el último mes</button>
</div>

<button type="submit" class="btn btn-outline-success" style="height: 100px; margin: 30px; width: 1400px"><span class="oi oi-document"></span>
Productos más vendidos en el último mes</button>