@page "/sobreNosotros"

<body class="cuerpo">
  <div class="container">
    <input type="radio" name="dot" id="one">
    <input type="radio" name="dot" id="two">
    <div class="main-card">
      <div class="cards">

        <div class="card">
          <div class="content">
            <div class="img">
              <img src="images/img1.jpg" alt="">
            </div>
            <div class="details">
              <div class="name">Joseph García</div>
              <div class="job">Backend Developer</div>
            </div>
            <div class="media-icons">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="img">
              <img src="images/img1.jpg" alt="">
            </div>
            <div class="details">
              <div class="name">Jorge Luis Toribio</div>
              <div class="job">Frontend Developer</div>
            </div>
            <div class="media-icons">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="img">
              <img src="images/img2.jpg" alt="">
            </div>
            <div class="details">
              <div class="name">Greylin Polanco</div>
              <div class="job">Database Developer</div>
            </div>
            <div class="media-icons">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="img">
              <img src="images/img3.jpg" alt="">
            </div>
            <div class="details">
              <div class="name">Albert Delgado</div>
              <div class="job">Web Developer</div>
            </div>
            <div class="media-icons">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>