@page "/sobreNosotros"

<body class="cuerpo">
  <div class="container">
    <input type="radio" name="dot" id="one">
    <input type="radio" name="dot" id="two">
    <div class="main-card">
      <div class="cards">

        <div class="card">
          <div class="content">
            <div class="img">
              <img src="images/joseph.jpg" alt="Joseph García">
            </div>
            <div class="details">
              <div class="name">Joseph García</div>
              <div class="job">Back-End Developer</div>
            </div>
            <div class="media-icons">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="far fa-envelope"></i></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="img">
              <img src="images/Jorge.jpg" alt="">
            </div>
            <div class="details">
              <div class="name">Jorge Luís Toribio</div>
              <div class="job">Front-End Developer</div>
            </div>
            <div class="media-icons">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="far fa-envelope"></i></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="img">
              <img src="images/Grey.jpg" alt="">
            </div>
            <div class="details">
              <div class="name">Greylin Polanco</div>
              <div class="job">Database Developer</div>
            </div>
            <div class="media-icons">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="far fa-envelope"></i></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="img">
              <img src="images/Albert.jpg" alt="Albert Delgado">
            </div>
            <div class="details">
              <div class="name">Albert Delgado</div>
              <div class="job">Full-Stack Developer</div>
            </div>
            <div class="media-icons">
              <a href="https://www.facebook.com/profile.php?id=100009007589300"><i class="fab fa-facebook-f"></i></a>
              <a href="https://twitter.com/Rhazerpk"><i class="fab fa-twitter"></i></a>
              <a href="https://www.instagram.com/albert.dmm/"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="far fa-envelope"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>